.topNav {
    -webkit-box-shadow: 0px 6px 26px -1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 6px 26px -1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 6px 26px -1px rgba(0, 0, 0, 0.46);
    background-color: white;
}

#bajaRes {
    position: fixed!important;
    top: 285px;
    left: -65px;
    transform: rotate(-90deg);
}

form,
h1 {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}