/* TOP NAV */

.topNav {
    -webkit-box-shadow: 0px 6px 26px -1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 6px 26px -1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 6px 26px -1px rgba(0, 0, 0, 0.46);
    background-color: white;
}

#logout {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.divAux {
    height: 15vh;
}


/* CARTAS */

.bg-cards {
    color: black;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
}

.bg-cards:hover {
    color: black;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1377px) {
    .contenidoCartas {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width: 992px) {
    .contenidoCartas {
        padding-left: 18%;
        padding-right: 18%;
    }
}

@media (max-width: 992px) {
    .contenidoCartas {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.mg {
    position: absolute;
    top: 305px;
    right: -38px;
    padding: 5px 10px 5px 10px;
}

.mg:hover {
    transform: translateX(-25px);
    transition: all .4s ease-in-out;
}


/* BOTON VER BAJAS */

#bajaRes {
    position: fixed!important;
    top: 285px;
    left: -75px;
    transform: rotate(-90deg);
}

#bajaRes button {
    font-size: 17px;
}


/* FILTROS */

@media (max-width: 768px) {
    .bienv {
        font-size: 34px;
        padding-bottom: 15px!important;
    }
}

label {
    font-size: 9px;
}

.panel {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px!important;
}

.panel input[type="text"] {
    border: 1px solid #ddd;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel input:hover,
.panel input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}